# VS Code settings
.vscode/
thunder-tests/

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Node modules
node_modules/

# Jest coverage
coverage/

# npm cache directory
.npm

# pre-commit helper
.commit